body,
ol,
h1,h2,h3,h4,h5,h6,
p,
dd {
  margin: 0;
}
ol,ul {
  padding: 0;
  list-style: none;
}
body {
  background: #efefef;
  color: #333;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
a {
  text-decoration: none;
}

/* 头部导航与logo */
.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header.header-scroll {
  background-color: #fff;
  color: #3d4451;
  box-shadow: 1px 11px 14px -7px rgba(0,0,0,0.43);
}
.header-inner {
  padding: 0 16px;
}
.logo {
  float: left;
  font-size: 24px;
  font-family: 'Arial Black';
  padding: 3px 0 4px 0;
}
.logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.logo .card {
  color: #9a9da2;
}
.header-inner > nav {
  float: right;
  padding: 3px 0 4px 0;
}
.header-inner > nav > a {
  color: #b7b7b7;
  font-size: 12px;
  font-weight: bold;
  margin: 0 17px;
  padding: 5px 0;
  border-top: 3px solid transparent; 
  border-bottom: 3px solid transparent;
  display: block;
  float: left;
}
.header-inner > nav > a:hover {
  border-bottom: 3px solid #e6686a;
}
.header.header-scroll .header-inner > nav > a {
  color: #3d4451;
}

/* 广告图 */
.banner {
  height: 515px;
  background-image: url(../img/rs-cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner::after {
  content: '';
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, .7)
}

/* 个人信息 */
.card-wrap {
  margin-top: -340px;
}
.card-user {
  max-width: 940px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.picture {
  padding: 50px;
}
.picture .avatar{
  float: left;
}
.picture .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.welcome {
  color: #fff;
  background: #e6686a;
  padding: 4px 16px;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
}
.welcome::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 3px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #e6686a;
  border-top-width: 0;
}
.profile h1 {
  margin-top: 18px;
}
.profile hr {
  border: none;
  height: 0;
  border-top: 1px solid #dedede;
  margin: 20px 0;
}
.user-info dt,
.user-info dd {
  float: left;
  padding: 5px 0;
}
.user-info dt {
  width: 30%;
  font-weight: bold;
}
.user-info dd {
  width: 70%;
  color: #9da0a7;
}

/* 社交 */
.media {
  text-align: center;
  background: #e6686a;
}
.media a {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  margin: 16px;
}
.media a:hover {
  background-color: #CF5D5F;
}
.media a svg {
  fill: #fff;
  font-size: 32px;
  vertical-align: top;
}

.download-wrap {
  text-align: center;
}
.download-wrap .download {
  padding: 22px 56px;
  border: 1px solid #cdcfd1;
  font-size: 16px;
  font-family: 'kai';
  font-weight: bold;
  display: inline-block;
  color: #3d4451;
  background-color: #efefef;
  margin: 35px 0;
}
.download-wrap .download:hover {
  transition: box-shadow .3s;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.info {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  font-family: 'kai';
  line-height: 1.8;
  font-size: 18px;
  color: #3d4451;
}

/* 技能展示 */
.skills,
.works {
  max-width: 940px;
  margin: 60px auto 0;
}
.skills > h2,
.works > h2 {
  font-size: 34px;
  text-align: center;
  font-weight: 600;
}
.skills > .skills-list {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 40px 80px 0;
  margin-top: 22px;
}
.skills > .skills-list li{
  float: left;
  width: 48%;
}
.skills > .skills-list li:nth-child(even) {
  float: right;
}
.skills > .skills-list li span{
  display: block;
}
.skills > .skills-list li span.title{
  font-size: 12px;
  font-weight: bold;
  color: #3d4451;
}
.skills > .skills-list li span.bar{
  position: relative;
  height: 5px;
  background-color: #fedfe0;
  border-radius: 3px;
  margin: 4px 0 40px;
}
.skills > .skills-list li span.bar .bar-radio {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: #f55c61;
}

/* 作品集 */
.works {
  text-align: center;
  margin-bottom: 100px;
}
.works > nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}
.works > nav ol li{
  float: left;
  cursor: pointer;
  font-size: 14px;
  color: #3d4451;
  font-weight: bold;
}
.works > nav ol li + li {
  margin-left: 40px;
}
.works > nav > .bar {
  background-color: #fff;
  height: 5px;
  border-radius: 3px;
  display: block;
  margin-top: 7px;
  position: relative;
}
.works > nav > .bar > .bar-inner {
  width: 50px;
  height: 100%;
  border-radius: 3px;
  background-color: #f55c61;
  transition: all .3s;
  top: 0;
  left: 0;
  position: absolute;
}
.works > nav .bar.status-1 > .bar-inner {
  width: 50px;
  left: 0;
}
.works > nav .bar.status-2 > .bar-inner {
  width: 50px;
  left: 58px;
}
.works > nav .bar.status-3 > .bar-inner {
  width: 50px;
  left: 116px;
}
.works .content {
  position: relative;
  height: 597px;
  margin-top: 28px;
}
.works .content .cont-item {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.works .content .app {
  left: 645px;
}
.works .content .mvvm {
  left: 645px;
  top: 312px;
}